/* ==========================================================================
    COLOR STYLE
============================================================================= */
.main-menu ul li.active> a{background:#964b00; }
.sub-menu li.active, .children li.active{background:#964b00;}
.main-menu ul.l-inline> li> a:hover{background: #964b00!important;}
.sub-menu li:hover, .children li:hover{background: #964b00!important;}
.add-to-cart{background:#964b00;}
.ribbon{background:#964b00;}
.beta-tags a:hover{background:#964b00;}
#price-filter-range .ui-slider-handle{background:#964b00;}
.beta-btn.primary:hover{background:#964b00;}
.aside .widget-title{border-left: 3px solid #964b00;}

.work-item-actions a:hover{background: #964b00;}
.icon-box-a i{color: #964b00;}
.icon-circle{border: 1px solid #964b00;color: #964b00;}
.icon-box-b i{color: #964b00;}
.beta-circle{background: #964b00;}
.beta-filter ul#filters li.active a{border: 1px solid #964b00;}
.panel-default>.panel-heading.beta-active-tab{background: #964b00;}
.panel-default>.panel-heading .panel-title a:hover i{color: #964b00;}
.beta-highlight{background-color:#964b00;}
.bg-color4{background-color:#964b00;}

.beta-progress .progress-bar{background-color:#964b00;}
.ratio-1x1 i{color:#964b00;}
.icon-box-f .icon-box-icon i{color:#964b00;}
.beta-counter i{color:#964b00;}
.icon-box-c i{color:#964b00;}
.bg-color10{background-color:#964b00;}
.panel-default>.panel-heading .panel-title a:hover .accordion-circle{border: 1px solid #964b00;}
.icon-box-g:hover .icon-box-icon{color:#964b00;}
.icon-box-g:hover .icon-box-caption{background-color:#964b00;}
.icon-box-g:hover .indicator-top-small{border-color: transparent transparent #964b00 transparent;}
.history-navigation a.active{background-color:#964b00;}
.history-navigation a{border: 2px solid #964b00;}
.inner-header{background-color:#964b00;}
.beta-callout-box-a i{color:#964b00;}
.icon-box-d i{color:#964b00;}
.icon-box-d:hover i{color:#f90;}
.uc-header{background-color:#964b00;}
.beta-subscribers button{background-color:#964b00;}
.beta-blog-date{background-color:#964b00;}
.mejs-audio .mejs-controls .mejs-time-current, .mejs-audio .mejs-controls .mejs-horizontal-volume-current{background-color:#964b00!important;}
.beta-calendar .ui-datepicker-calendar a:hover{background-color:#964b00!important;}
.beta-message{background-color:#964b00;}
.beta-pricing span.beta-price-button a{background-color:#964b00;}
table.shop_table tfoot td .beta-btn, table.shop_table tfoot th .beta-btn{background-color:#964b00;}
table.shop_table tfoot td .beta-btn:hover, table.shop_table tfoot th .beta-btn:hover{background-color:#f90;}
.beta-promobox-b{background-color:#964b00;}

.parent-active>a{background:#964b00; color:white;}
.sub-menu li.parent-active, .children li.parent-active{background:#964b00; }
.sub-menu li.parent-active>a, .children li.parent-active>a{color:white!important;}