/* ==========================================================================
    COLOR STYLE RED
============================================================================= */
.main-menu ul li.active> a{background:#d21a10; }
.sub-menu li.active, .children li.active{background:#d21a10;}
.main-menu ul.l-inline> li> a:hover{background: #d21a10!important;}
.sub-menu li:hover, .children li:hover{background: #d21a10!important;}
.add-to-cart{background:#d21a10;}
.ribbon{background:#d21a10;}
.beta-tags a:hover{background:#d21a10;}
#price-filter-range .ui-slider-handle{background:#d21a10;}
.beta-btn.primary:hover{background:#d21a10;}
.aside .widget-title{border-left: 3px solid #d21a10;}
.single-item:hover a.add-to-cart{background: #7abcde;}
.ribbon.sale{background: #7abcde;}

.work-item-actions a:hover{background: #d21a10;}
.icon-box-a i{color: #d21a10;}
.icon-circle{border: 1px solid #d21a10;color: #d21a10;}
.icon-box-b i{color: #d21a10;}
.beta-circle{background: #d21a10;}
.beta-filter ul#filters li.active a{border: 1px solid #d21a10;}
.panel-default>.panel-heading.beta-active-tab{background: #d21a10;}
.panel-default>.panel-heading .panel-title a:hover i{color: #d21a10;}
.beta-highlight{background-color:#d21a10;}
.bg-color4{background-color:#d21a10;}

.beta-progress .progress-bar{background-color:#d21a10;}
.ratio-1x1 i{color:#d21a10;}
.icon-box-f .icon-box-icon i{color:#d21a10;}
.beta-counter i{color:#d21a10;}
.icon-box-c i{color:#d21a10;}
.bg-color10{background-color:#d21a10;}
.panel-default>.panel-heading .panel-title a:hover .accordion-circle{border: 1px solid #d21a10;}
.icon-box-g:hover .icon-box-icon{color:#d21a10;}
.icon-box-g:hover .icon-box-caption{background-color:#d21a10;}
.icon-box-g:hover .indicator-top-small{border-color: transparent transparent #d21a10 transparent;}
.history-navigation a.active{background-color:#d21a10;}
.history-navigation a{border: 2px solid #d21a10;}
.inner-header{background-color:#d21a10;}
.beta-callout-box-a i{color:#d21a10;}
.icon-box-d i{color:#d21a10;}
.icon-box-d:hover i{color:#f90;}
.uc-header{background-color:#d21a10;}
.beta-subscribers button{background-color:#d21a10;}
.beta-blog-date{background-color:#d21a10;}
.mejs-audio .mejs-controls .mejs-time-current, .mejs-audio .mejs-controls .mejs-horizontal-volume-current{background-color:#d21a10!important;}
.beta-calendar .ui-datepicker-calendar a:hover{background-color:#d21a10!important;}
.beta-message{background-color:#d21a10;}
.beta-pricing span.beta-price-button a{background-color:#d21a10;}
table.shop_table tfoot td .beta-btn, table.shop_table tfoot th .beta-btn{background-color:#d21a10;}
table.shop_table tfoot td .beta-btn:hover, table.shop_table tfoot th .beta-btn:hover{background-color:#f90;}

.beta-promobox-b{background-color:#d21a10;}

.parent-active>a{background:#d21a10; color:white;}
.sub-menu li.parent-active, .children li.parent-active{background:#d21a10; }
.sub-menu li.parent-active>a, .children li.parent-active>a{color:white!important;}